name: Create Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install markitdown[docx,pptx,pdf] pyside6 pyinstaller

      - name: Build EXE with PyInstaller
        run: |
          pyinstaller --onefile --windowed --icon icon.ico --add-data "icon.ico;." --collect-all magika --collect-all markitdown -n MarkItDownGUI.exe main.py

      - name: Archive EXE
        uses: actions/upload-artifact@v4
        with:
          name: MarkItDownGUI
          path: dist/MarkItDownGUI.exe

  release:
    permissions:
      contents: write
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download EXE artifact
        uses: actions/download-artifact@v7
        with:
          name: MarkItDownGUI
          path: ./dist

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes \
              dist/MarkItDownGUI.exe
